@{
    ViewData["Title"] = "Home Page";
}
<div class="head">
    <center><h1>Jian Paolo C. De Leon</h1></center>
    <center><h2>BSIT-32E2</h2></center>
    <center><img src="~/pao.jpg" alt="me" class="myphoto" /></center>
</div>

<div class="intro">
    <p>Hello! I'm Jian Paolo De Leon. Welcome to my creative space. I'm a third year student from Lyceum of Alabang.'</p>
    <p>Feel free to explore my webpage..</p>
</div>

<style>
    .intro {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-top: 60px;
        color: #333;
        line-height: 1.6;
        background-color: #f5f5f5; 
        padding: 20px; 
        border-radius: 10px; 
    }

    body {
        background: url(background.jpg);
        margin: 0;
    }

    .head {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        color: black;
    }

    .myphoto {
        border-radius: 50%;
        width: 200px;
        margin-top: 20px;
    }

    body::after {
        content: '\02267';
        font-family: 'Arial', sans-serif;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: #333;
        cursor: pointer;
        z-index: 1000;
    }
</style>
